# --- Core Framework & Utils ---
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
sqlmodel
python-dotenv
aiofiles
requests
redis
psycopg2-binary
passlib[bcrypt]
bcrypt<4.0
python-jose[cryptography]

# --- LangChain Ecosystem (Lightweight) ---
langchain-core

# --- Observability & Tracing (Phoenix) ---
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
arize-phoenix-otel
arize-phoenix
openinference-instrumentation-langchain
openinference-instrumentation-openai
deep-translator
langchain-text-splitters
pypdf
openai
langchain-openai
mistralai